* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Header */

.navbar a {
  color: white;
}

.navbar {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-brand {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}

.navbar-expand-lg .navbar-toggler {
  display: block;
}

.navbar-collapse {
  justify-content: end;
}

.nav-search {
  margin-left: -35px;
}

.btn_btn {
  color: white;
  font-size: 28px;
  background: none;
  border: none;
}

#toggle-button {
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  padding: 0 10px;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border-bottom: none;
  text-align: center;
  margin: auto;
}

.modal-menu {
  list-style: none;
}

.modal-menu-item {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.modal-menu-item:hover {
  color: #ff6600;
  cursor: pointer;
}

.fade {
  opacity: 1;
}

.modal-open .modal {
  background: rgb(6 3 0 / 70%);
  transition: all 0.4s;
}

.close {
  position: absolute;
  overflow: hidden;
}

button.close {
  width: 40px;
  height: 40px;
  right: 40px;
  top: 40px;
  background: #ff6600;
  color: #fff;
  border-radius: 10px;
  border: none;
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.modal-backdrop {
  z-index: 0;
}

.search {
  position: relative;
}

.search_input {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
}

.search span i {
  position: absolute;
  top: 15px;
  right: 10px;
  /* line-height: 1; */
}
/* btn sun moon */
.btnsunmoon {
  font-size: 20px;
  width: 60px;
  margin: 20px;
}
/* banner */
.crs {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
  display: grid;
  align-items: center;
  position: relative;
}

.crs_info h3 {
  font-size: 55px;
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
}

.crs_info p {
  color: white;
  margin-bottom: 50px;
}

.crs button {
  background: none;
  border-radius: 8px;
  padding: 15px 50px;
  color: white;
  border: 2px solid white;
  transition: all 0.5s;
  font-weight: 700;
}

.crs button:hover {
  background: white;
  color: #ff6600;
}

/* About us */
.about .row h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico";
}

.about .col-lg-5 h3 {
  font-size: 40px;
  font-weight: 600;
}

.about .col-lg-7 p {
  line-height: 30px;
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
}

/* best */
.best_icon i {
  background-color: white;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #ff6600;
  transition: all 0.5s;
}

.best_deal_food a {
  text-decoration: none;
}

.best_deal_food a {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.best_deals:hover i {
  color: #ffc600;
}

.best_food:hover i {
  color: #ffc600;
}

.best_left h6 {
  font-family: "Pacifico";
  color: white;
  font-size: 20px;
}

.best_left h3 {
  font-size: 40px;
  font-weight: 600;
}

.best_left p {
  line-height: 30px;
  color: white;
  font-size: 18px;
}

.best .best_img {
  background: url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.best__image-container {
  background-color: black;
  min-height: 100%;
}

.best img {
  object-fit: cover;
  opacity: 0.6;
}

.best__image {
  opacity: 1 !important;
}

/* Light theme */
#myBody {
  background-color: white;
}
#switchButton {
  background-color: white;
  border: 0px solid black;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #232220;
}
.dark #switchButton {
  background-color: #333;
}

.dark .search_input {
  background-color: #333;
  color: white;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
.dark #switchButton .fa-moon {
  display: none;
}

/* About US dark */
.dark .abus_content {
  background-color: #333;
  color: white;
}
.dark .abus_content p {
  background-color: #333;
  color: white;
}
.dark .about {
  background-color: #333;
}
/* BEST DARK */
.dark .best_left {
  color: white;
}

.dark .best_deal_food a {
  color: white;
}
/* End Feature */
/* Category */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.category {
  background: #f7f7f7;
}
.title-category-h6 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}
.title-category-h3 {
  font-size: 38px;
}
.category .category-item-img {
  position: relative;
}
.category .category-item-img img {
  border-radius: 6px;
}
.category img:hover {
  opacity: 0.85;
  transition: 0.4s;
}
.category .category-item .category-item-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  border-radius: 6px;
}
.category .category-item-info {
  bottom: 0;
  position: absolute;
  transform: translate3d(0, 10%, 0);
}
.category .category-item a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.category .category-item h6 {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.8;
}
.category .category-item-info span {
  color: #ffc600;
  letter-spacing: 1px;
}
/* End Category */
/* Service */
.service {
  position: relative;
}
.service-item {
  padding: 40px 40px;
  transition: 0.5s 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}
.service-item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.service-item-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.service-item p {
  margin: 0;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.service-item:hover .icon {
  background-color: #ff6600;
  transition: 0.3s ease-in-out;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome;
}
.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.service-item:hover .icon span.fa {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.service-item h4 a {
  margin-top: 5px;
  display: block;
  color: #232121;
  transition: 0.5s;
}
.service-item h4 a:hover {
  color: #ff6600;
}
/* End Service */
/* Cover */
.cover {
  background: url(https://wp.w3layouts.com/diner/wp-content/themes/Diner/assets/images/banner2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.cover::before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.cover-content {
  max-width: 700px;
  margin: 0 auto;
}
.cover-content h3 {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  max-width: 800px;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  line-height: 30px;
  transition: 0.3s ease-in;
  border-radius: 6px;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}
/* End Cover */
/* Status */
.status {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.status-item {
  background-color: #fff;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
}
.status-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
}
.status-item span.fa {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  line-height: 68px;
  color: #fff;
}
.fa-building-o:before {
  content: "";
}
.fa-smile-o:before {
  content: "";
}
.timer {
  font-size: 2.6em;
}
.status p {
  font-size: 1.1em;
}
p.count-text {
  color: rgba(22, 28, 45, 0.7);
}
/* End Status */

/* Dark Theme: category, service, cover, status section */
/* Dark category */
.dark .category {
  background: #282828;
}
.dark .title-category-h3 {
  color: #eee;
}
/* Dark service */
.dark .service {
  background: #232220;
}
.dark .service-item {
  background-color: #232220;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .service-item-grid .info p {
  color: #c2d0da;
}
.dark .service-item-grid .info h4 a {
  color: #eee;
  transition: 0.5s;
}
.dark .service-item-grid .info h4 a:hover {
  color: #ff6600;
}
.dark .service-item p {
  color: #c2d0da;
}
/* Dark status */
.dark {
  background-color: #232220;
}
.dark .status-item {
  background-color: #232220;
}
.dark .timer {
  color: #eee;
}
.dark p.count-text {
  color: #c2d0da;
}
/* VideoPopup */
.dark .popup {
  background-color: #232220;
}

.popup__container .popup__image img {
  border-radius: 10px;
}

.popup__container .popup__overlay {
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
}

.play-dialog {
  left: 0;
  top: calc(50%);
  transform: translateY(-50%);
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
}
div#small-dialog iframe {
  height: 420px;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}

.play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.video-play-icon {
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  background: #fff;
}

.video-play-icon i {
  font-size: 26px;
}

/* End VideoPopup */
/* Blog */
.blog {
  background-color: #f7f7f7;
}

.dark .blog {
  background-color: #282828;
}

.dark .blog__subtitle {
  color: #eeeeee;
}

.blog__image__container img {
  border-radius: 5px;
}

.blog__image__container a {
  bottom: 10px;
  left: 10px;
  color: #ff6600;
  transition: 0.3s;
}

.blog__image__container a:hover {
  color: purple;
  transition: 0.3s;
}

.avatar a {
  color: black;
}

.avatar a img {
  border-radius: 50%;
}

.blog__item__title {
  height: 90px;
}

.blog__item__title h4 a {
  color: black;
}

.dark .blog__item__title h4 a {
  color: #eeeeee;
}

.dark .author {
  color: #eeeeee;
}

.read-more {
  color: black;
  transition: 0.3s;
}

.dark .read-more {
  color: #eeeeee;
}

.read-more:hover {
  color: #ff6600;
  transition: 0.3s;
}
/* End Blog */
/* Testimonials */
.blog__maintitle,
.testimonials__maintitle {
  color: #ff6600;
}

.dark .testimonials {
  background-color: #232220;
}

.dark .testimonials__subtitle,
.dark .customer-name {
  color: #eeeeee;
}

.dark .customer-review,
.dark .customer-role {
  color: #c2d0da;
}
/* End testimonials */
/* Footer */
footer {
  background-color: black;
}

.footer__item h4 a {
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.footer__item h4 a:hover {
  color: #ff6600;
  transition: 0.3s;
}

.footer__item p {
  color: #a29f9e;
}

.footer__item ul {
  gap: 10px;
}

.footer__item ul li a {
  color: #a29f9e;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.footer__item ul li a:hover {
  color: #ff6600;
  transition: 0.3s;
}

.footer__icon {
  gap: 20px !important;
}

.footer__icon li {
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.dark .footer__icon li {
  background-color: #232220;
}

.footer__icon li:hover {
  background-color: #ff6600;
  transition: 0.3s;
}

.footer__icon li .footer__icon-link {
  color: #ff6600;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.footer__icon li .footer__icon-link:hover {
  color: white;
  transition: 0.3s;
}
/* End Footer */

.subscribe__email input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  outline: none;
  transition: 0.3s;
}

.dark .subscribe__email input {
  background-color: #232220;
}

.subscribe__email input:hover {
  border: 1px solid #ff6600;
  transition: 0.3s;
}
.subscribe__email input:focus {
  border: 1px solid #ff6600;
  transition: 0.3s;
}

.subscribe__email button {
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.subscribe__email button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

#movetop {
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff6600;
  z-index: 99;
}

#movetop:focus {
  outline: none;
}

.line {
  height: 1px;
  background-color: rgb(43, 43, 43);
}

a:hover {
  text-decoration: none;
}

.copyright a {
  color: #ff6600;
  transition: 0.3s;
}

.copyright a:hover {
  color: white;
  transition: 0.3s;
}

/* start carousel */

.carousel {
  margin-top: 50px;
}

.carousel__item .item__container {
  color: #848482;
}

.dark .carousel__item .item__container {
  background-color: #232220;
}

.carousel__item i {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slick-dots li.slick-active button::before {
  color: #ff6600;
  opacity: 1;
}

.slick-dots li button::before {
  font-size: 15px;
  color: #d8d8d8;
  opacity: 1;
}

.slick-dots li button:hover::before {
  color: #ff6600;
}

.carousel__item:active {
  cursor: grab;
}

.item__container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.item__container i {
  font-size: 25px;
  color: #ff6600;
}

.quote {
  color: black;
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
}

.dark .quote {
  color: #eeeeee;
}

.customer-name {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: 700;
}

/*-- play icon animation --*/
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
