* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
header {
}
/* End Header */
/* Banner */
.banner {
}
/* End Banner */
/* About Us */
.about {
}
/* End About Us */
/* Feature */
.feature {
}
/* End Feature */
/* Category */
.category {
}
/* End Category */
/* Service */
.service {
}
/* End Service */
/* Cover */
.cover {
}
/* End Cover */
/* Status */
.status {
}
/* End Status */
/* VideoPopup */
.popup {
}
/* End VideoPopup */
/* Blog */
.blog {
}
/* End Blog */
/* Testimonials */
.testimonials {
}
/* End testimonials */
/* Footer */
footer {
}
/* End Footer */
